:host-context(.is-me) {
  .message-item {
    background: blue;
    color: white;
  }
}
.message-item {
  border-radius: 10px;
  padding: 10px;
  background: #dedede;
  margin-top: 20px;
}
.message-body {
  padding: 10px 0px;
}
.message-create-at {
  font-size: 12px;
}
